html {
  background-color: #032a4b;
  background: linear-gradient(to Bottom, #032a4b, #02315d);
}

p, .slider-content, footer {
  color: #ffffffb8!important;
}

nav {
  background-color: #062045;
}

h3 {
  color: white;
}

nav li a:hover, nav li a.active {
  color: #032a4b;
}

.slick-dots li button:before {
  color: white;
}

.slider-name {
  color: white;
}

.card h3 {
  background-color: #062045;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.button {
  color: #032a4b
}

footer {
  background-color: #062045;
}
