
button {
  /*
  padding: 16px;
  border: none;
  background-color: #ffcb06;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;*/
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px 12px;
  letter-spacing: 1.8px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #ffcb06;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.15);
  border: solid 2px WHITE;
  border-color: transparent;
}


.signup-banner {
  padding-top: 56px;
  background-color: rebeccapurple;
  padding-bottom: 56px;
  color: #F0C808;
}

.link-img {
  height: 15px;
  /*transform: translateY(1px);*/
  transition: transform 0.4s;
  bottom: -2px;
  position: relative;
}

.fancy-link {
  display: block;
}

.fancy-link:hover .link-img{
  transform: translateX(5px);
}

/*img box */
.image-box {
  background-image: url("../img/ben-cropped.png");
  background-size: cover;
  min-height: 750px;
  position: relative;
}

.image-box.mission {
  background-image: url("../img/mission.jpg");
  background-position: center;
}

.image-box-text {
  background-color: white;
  /*border: 3px solid #ffcb06;*/
  position: absolute;
  bottom: 0px;
  padding: 20px;
  max-width: 500px;
  left:0;
  /*border-radius: 6px;*/
  margin: 0;
}

.padded-box {
  padding:20px;
}

.img-txt-split {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-txt-split-txt {
  padding: 40px;
}
